<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %date{ISO8601} %highlight(%-5level) %cyan(%logger{36}) %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="com.ning.http.client" level="WARN"/>

    <logger name="com.google.inject" level="INFO"/>

    <logger name="com.ning.http.client" level="OFF"/>

    <logger name="java.nio.channels" level="OFF"/>

    <logger name="org.asynchttpclient" level="OFF"/>

    <logger name="com.google.inject" level="OFF"/>

    <logger name="org.apache.pekko.event" level="OFF"/>

    <logger name="io.netty" level="OFF"/>

    <logger name="uk.gov.hmrc.audit" level="OFF"/>

    <logger name="uk.gov">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="sun.net.www.protocol.http" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
